In [1]:
%matplotlib notebook
import os
import pandas as pd
import numpy as np

In [2]:
file_to_load = "../../Resources/casos-asociados-a-covid-19.csv"

covid_cases_data = pd.read_csv(file_to_load)
covid_cases_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD UNIDAD MEDICA,SEXO,ENTIDAD NACIMIENTO,ENTIDAD RESIDENCIA,MUNICIPIO RESIDENCIA,TIPO PACIENTE,...,Negativo,MIGRANTE,PAIS NACIONALIDAD,PAIS ORIGEN,UNIDAD DE CUIDADOS INTENSIVOS,RANGO EDAD,num_fallecidos,num_hospitalizados,positivo,pendiente
0,2020-06-24,076847,USMER,SSA,PUEBLA,MUJER,PUEBLA,PUEBLA,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
1,2020-06-24,0f2b37,USMER,SSA,CHIAPAS,HOMBRE,CHIAPAS,CHIAPAS,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
2,2020-06-24,1aa59e,USMER,SSA,VERACRUZ DE IGNACIO DE LA LLAVE,MUJER,VERACRUZ DE IGNACIO DE LA LLAVE,VERACRUZ DE IGNACIO DE LA LLAVE,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,41-50,NaN,NaN,Positivo SARS-CoV-2,NaN
3,2020-06-24,190217,USMER,SSA,SONORA,MUJER,SONORA,SONORA,NaN,HOSPITALIZADO,...,NaN,NO ESPECIFICADO,México,99,NO,41-50,NaN,1.0,Positivo SARS-CoV-2,NaN
4,2020-06-24,169761,USMER,SSA,YUCATÁN,HOMBRE,YUCATÁN,YUCATÁN,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN

In [3]:
clean_covid_data = covid_cases_data[covid_cases_data["Negativo"]!="No positivo SARS-CoV-2"]
clean_covid_data = clean_covid_data[["ID_REGISTRO","SEXO","MUNICIPIO RESIDENCIA","FECHA INGRESO", "FECHA DEFUNCION","INTUBADO","EDAD","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","OBESIDAD","RENAL CRONICA","TABAQUISMO"]]
clean_covid_data = clean_covid_data.fillna("NO")
display(clean_covid_data)

,ID_REGISTRO,SEXO,MUNICIPIO RESIDENCIA,FECHA INGRESO,FECHA DEFUNCION,INTUBADO,EDAD,DIABETES,EPOC,ASMA,INMUNOSUPRESION,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL CRONICA,TABAQUISMO
0,076847,MUJER,NO,2020-06-01,NO,NO APLICA,36,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,0f2b37,HOMBRE,NO,2020-06-02,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,1aa59e,MUJER,NO,2020-06-15,NO,NO APLICA,43,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,190217,MUJER,NO,2020-06-13,NO,NO,42,NO,NO,NO,NO,SI,NO,NO,NO,NO
4,169761,HOMBRE,NO,2020-06-16,NO,NO APLICA,33,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490621,0db5d1,MUJER,NO,2020-05-28,NO,NO APLICA,60,SI,NO,NO,NO,NO,NO,NO,NO,NO
490622,1dc64a,HOMBRE,NO,2020-05-27,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,SI,NO,NO
490623,130185,MUJER,Iztapalapa,2020-05-12,NO,NO APLICA,52,NO,NO,NO,NO,NO,NO,NO,NO,NO
490624,186960,MUJER,Iztacalco,2020-04-15,NO,NO APLICA,47,NO,NO,NO,NO,NO,NO,SI,NO,NO
490625,07be2e,HOMBRE,NO,2020-05-23,2020-05-24,NO APLICA,57,NO,NO,NO,NO,SI,NO,SI,NO,NO

In [4]:
bins = [-1, 15, 20, 30, 40, 50, 60, 70, 80, 90, 999]
group_labels=['0-15','16-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91+']
analisis_genero = clean_covid_data.copy()
analisis_genero["RANGO DE EDAD"] = pd.cut(analisis_genero["EDAD"], bins, labels=group_labels)
analisis_genero = analisis_genero.groupby(['RANGO DE EDAD']).count().drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','FECHA INGRESO','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1).reset_index()
data=[]
generos = ["MUJER","HOMBRE"]
datos = ["CASOS","DIFUNTOS"]
for dato in datos:
    for genero in generos:
        resumen = clean_covid_data.copy()
        if genero != "TODOS":
            resumen = resumen[resumen["SEXO"]==genero]
        if dato == "DIFUNTOS":
            resumen = resumen[resumen["FECHA DEFUNCION"]!="NO"]
        resumen["RANGO DE EDAD"] = pd.cut(resumen["EDAD"], bins, labels=group_labels)
        resumen = resumen.groupby(['RANGO DE EDAD']).count().rename(columns={'ID_REGISTRO':f'{genero} - {dato}'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','FECHA INGRESO','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1).reset_index()
        analisis_genero = pd.DataFrame.merge(analisis_genero,resumen,how='left',on='RANGO DE EDAD')
genero_casos = analisis_genero.drop(['ID_REGISTRO','MUJER - DIFUNTOS','HOMBRE - DIFUNTOS'],axis=1).rename(columns={'RANGO DE EDAD':'age','MUJER - CASOS':'female','HOMBRE - CASOS':'male'})
genero_difuntos = analisis_genero.drop(['ID_REGISTRO','MUJER - CASOS','HOMBRE - CASOS'],axis=1).rename(columns={'RANGO DE EDAD':'age','MUJER - DIFUNTOS':'female','HOMBRE - DIFUNTOS':'male'})
display(genero_casos)
display(genero_difuntos)

     age  female   male
0   0-15    2736   3042
1  16-20    2574   2328
2  21-30   20114  20212
3  31-40   27686  30916
4  41-50   26604  31140
5  51-60   19825  25644
6  61-70   11352  15600
7  71-80    5803   8001
8  81-90    2285   2735
9    91+     366    359

     age  female  male
0   0-15      39    52
1  16-20      18    13
2  21-30     153   244
3  31-40     433  1043
4  41-50    1143  2808
5  51-60    2040  4497
6  61-70    2410  4371
7  71-80    1800  2983
8  81-90     815  1123
9    91+      93   140

In [7]:
genero_casos.to_json('../assets/data/genero_casos.json',orient='records')
genero_difuntos.to_json('../assets/data/genero_difuntos.json',orient='records')