In [1]:
%matplotlib notebook
import os
import pandas as pd
import numpy as np
import pymongo

In [2]:
file_to_load = "../../Resources/casos-asociados-a-covid-19.csv"

covid_cases_data = pd.read_csv(file_to_load)
covid_cases_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD UNIDAD MEDICA,SEXO,ENTIDAD NACIMIENTO,ENTIDAD RESIDENCIA,MUNICIPIO RESIDENCIA,TIPO PACIENTE,...,Negativo,MIGRANTE,PAIS NACIONALIDAD,PAIS ORIGEN,UNIDAD DE CUIDADOS INTENSIVOS,RANGO EDAD,num_fallecidos,num_hospitalizados,positivo,pendiente
0,2020-06-24,076847,USMER,SSA,PUEBLA,MUJER,PUEBLA,PUEBLA,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
1,2020-06-24,0f2b37,USMER,SSA,CHIAPAS,HOMBRE,CHIAPAS,CHIAPAS,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
2,2020-06-24,1aa59e,USMER,SSA,VERACRUZ DE IGNACIO DE LA LLAVE,MUJER,VERACRUZ DE IGNACIO DE LA LLAVE,VERACRUZ DE IGNACIO DE LA LLAVE,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,41-50,NaN,NaN,Positivo SARS-CoV-2,NaN
3,2020-06-24,190217,USMER,SSA,SONORA,MUJER,SONORA,SONORA,NaN,HOSPITALIZADO,...,NaN,NO ESPECIFICADO,México,99,NO,41-50,NaN,1.0,Positivo SARS-CoV-2,NaN
4,2020-06-24,169761,USMER,SSA,YUCATÁN,HOMBRE,YUCATÁN,YUCATÁN,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN

In [3]:
clean_covid_data = covid_cases_data[covid_cases_data["Negativo"]!="No positivo SARS-CoV-2"]
clean_covid_data = clean_covid_data[["ID_REGISTRO","SEXO","MUNICIPIO RESIDENCIA","FECHA INGRESO", "FECHA DEFUNCION","INTUBADO","EDAD","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","OBESIDAD","RENAL CRONICA","TABAQUISMO"]]
display(clean_covid_data)

,ID_REGISTRO,SEXO,MUNICIPIO RESIDENCIA,FECHA INGRESO,FECHA DEFUNCION,INTUBADO,EDAD,DIABETES,EPOC,ASMA,INMUNOSUPRESION,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL CRONICA,TABAQUISMO
0,076847,MUJER,NaN,2020-06-01,NaN,NO APLICA,36,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,0f2b37,HOMBRE,NaN,2020-06-02,NaN,NO APLICA,32,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,1aa59e,MUJER,NaN,2020-06-15,NaN,NO APLICA,43,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,190217,MUJER,NaN,2020-06-13,NaN,NO,42,NO,NO,NO,NO,SI,NO,NO,NO,NO
4,169761,HOMBRE,NaN,2020-06-16,NaN,NO APLICA,33,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490621,0db5d1,MUJER,NaN,2020-05-28,NaN,NO APLICA,60,SI,NO,NO,NO,NO,NO,NO,NO,NO
490622,1dc64a,HOMBRE,NaN,2020-05-27,NaN,NO APLICA,32,NO,NO,NO,NO,NO,NO,SI,NO,NO
490623,130185,MUJER,Iztapalapa,2020-05-12,NaN,NO APLICA,52,NO,NO,NO,NO,NO,NO,NO,NO,NO
490624,186960,MUJER,Iztacalco,2020-04-15,NaN,NO APLICA,47,NO,NO,NO,NO,NO,NO,SI,NO,NO
490625,07be2e,HOMBRE,NaN,2020-05-23,2020-05-24,NO APLICA,57,NO,NO,NO,NO,SI,NO,SI,NO,NO

In [4]:
cases_per_date = clean_covid_data.copy()
cases_per_date = cases_per_date.groupby(['FECHA INGRESO']).count().reset_index().rename(columns={'ID_REGISTRO':'CASOS','FECHA INGRESO':'FECHA'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1)
cases_per_date

          FECHA  CASOS
0    2020-01-13      1
1    2020-01-14      1
2    2020-01-28      1
3    2020-01-29      1
4    2020-01-30      1
..          ...    ...
118  2020-06-20   4245
119  2020-06-21   3121
120  2020-06-22  10267
121  2020-06-23  10909
122  2020-06-24   4760

[123 rows x 2 columns]

In [5]:
# File to Load (Remember to Change These)
file_to_load = "../../Resources/afluencia-preliminar-en-transporte-publico.csv"

# Read Purchasing File and store into Pandas data frame
daily_transport_data = pd.read_csv(file_to_load)
daily_transport_data.head()

,FECHA,DÍA MES,DÍA SEMANA,MES,AÑO,ORGANISMO,LINEA/SERVICIO,AFLUENCIA TARJETA,AFLUENCIA BOLETO,AFLUENCIA TOTAL\n(cifras preliminares)
0,2020-03-09,9,Lunes,2020-03,2020,Ecobici,NaN,NaN,NaN,23154.0
1,2020-03-11,11,Miércoles,2020-03,2020,Ecobici,NaN,NaN,NaN,31609.0
2,2020-03-13,13,Viernes,2020-03,2020,Ecobici,NaN,NaN,NaN,28080.0
3,2020-03-15,15,Domingo,2020-03,2020,Ecobici,NaN,NaN,NaN,8492.0
4,2020-03-24,24,Martes,2020-03,2020,Ecobici,NaN,NaN,NaN,11358.0

In [6]:
afluencia_total_diaria = daily_transport_data.rename(columns={'AFLUENCIA TOTAL\n(cifras preliminares)':'AFLUENCIA TOTAL'})[["FECHA","AFLUENCIA TOTAL"]]
afluencia_total_diaria = afluencia_total_diaria.groupby(["FECHA"]).sum()
afluencia_total_diaria

            AFLUENCIA TOTAL
FECHA
2020-03-01        3459628.0
2020-03-02        6932366.0
2020-03-03        7125952.0
2020-03-04        7173088.0
2020-03-05        7197222.0
...                     ...
2020-06-22        2275450.0
2020-06-23        2309407.0
2020-06-24        2404465.0
2020-06-25        1908987.0
2020-06-26              0.0

[118 rows x 1 columns]

In [7]:
casos_afluencia_diaria = pd.DataFrame.merge(cases_per_date,afluencia_total_diaria,how='left',on='FECHA')
casos_afluencia_diaria

          FECHA  CASOS  AFLUENCIA TOTAL
0    2020-01-13      1              NaN
1    2020-01-14      1              NaN
2    2020-01-28      1              NaN
3    2020-01-29      1              NaN
4    2020-01-30      1              NaN
..          ...    ...              ...
118  2020-06-20   4245        1938173.0
119  2020-06-21   3121        1191119.0
120  2020-06-22  10267        2275450.0
121  2020-06-23  10909        2309407.0
122  2020-06-24   4760        2404465.0

[123 rows x 3 columns]

In [8]:
pd.DataFrame.to_csv(casos_afluencia_diaria,'../assets/data/casos_vs_afluencia_diaria.csv',encoding='latin1')
casos_afluencia_diaria.to_json('../assets/data/casos_vs_afluencia_diaria.json',orient='records')