In [1]:
%matplotlib notebook
import os
import pandas as pd
import numpy as np
import pymongo

In [2]:
file_to_load = "../../Resources/casos-asociados-a-covid-19.csv"

covid_cases_data = pd.read_csv(file_to_load)
covid_cases_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD UNIDAD MEDICA,SEXO,ENTIDAD NACIMIENTO,ENTIDAD RESIDENCIA,MUNICIPIO RESIDENCIA,TIPO PACIENTE,...,Negativo,MIGRANTE,PAIS NACIONALIDAD,PAIS ORIGEN,UNIDAD DE CUIDADOS INTENSIVOS,RANGO EDAD,num_fallecidos,num_hospitalizados,positivo,pendiente
0,2020-06-24,076847,USMER,SSA,PUEBLA,MUJER,PUEBLA,PUEBLA,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
1,2020-06-24,0f2b37,USMER,SSA,CHIAPAS,HOMBRE,CHIAPAS,CHIAPAS,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
2,2020-06-24,1aa59e,USMER,SSA,VERACRUZ DE IGNACIO DE LA LLAVE,MUJER,VERACRUZ DE IGNACIO DE LA LLAVE,VERACRUZ DE IGNACIO DE LA LLAVE,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,41-50,NaN,NaN,Positivo SARS-CoV-2,NaN
3,2020-06-24,190217,USMER,SSA,SONORA,MUJER,SONORA,SONORA,NaN,HOSPITALIZADO,...,NaN,NO ESPECIFICADO,México,99,NO,41-50,NaN,1.0,Positivo SARS-CoV-2,NaN
4,2020-06-24,169761,USMER,SSA,YUCATÁN,HOMBRE,YUCATÁN,YUCATÁN,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN

In [3]:
clean_covid_data = covid_cases_data[covid_cases_data["Negativo"]!="No positivo SARS-CoV-2"]
clean_covid_data = clean_covid_data[["ID_REGISTRO","SEXO","MUNICIPIO RESIDENCIA","FECHA INGRESO", "FECHA DEFUNCION","INTUBADO","EDAD","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","OBESIDAD","RENAL CRONICA","TABAQUISMO"]]
display(clean_covid_data)

,ID_REGISTRO,SEXO,MUNICIPIO RESIDENCIA,FECHA INGRESO,FECHA DEFUNCION,INTUBADO,EDAD,DIABETES,EPOC,ASMA,INMUNOSUPRESION,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL CRONICA,TABAQUISMO
0,076847,MUJER,NaN,2020-06-01,NaN,NO APLICA,36,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,0f2b37,HOMBRE,NaN,2020-06-02,NaN,NO APLICA,32,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,1aa59e,MUJER,NaN,2020-06-15,NaN,NO APLICA,43,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,190217,MUJER,NaN,2020-06-13,NaN,NO,42,NO,NO,NO,NO,SI,NO,NO,NO,NO
4,169761,HOMBRE,NaN,2020-06-16,NaN,NO APLICA,33,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490621,0db5d1,MUJER,NaN,2020-05-28,NaN,NO APLICA,60,SI,NO,NO,NO,NO,NO,NO,NO,NO
490622,1dc64a,HOMBRE,NaN,2020-05-27,NaN,NO APLICA,32,NO,NO,NO,NO,NO,NO,SI,NO,NO
490623,130185,MUJER,Iztapalapa,2020-05-12,NaN,NO APLICA,52,NO,NO,NO,NO,NO,NO,NO,NO,NO
490624,186960,MUJER,Iztacalco,2020-04-15,NaN,NO APLICA,47,NO,NO,NO,NO,NO,NO,SI,NO,NO
490625,07be2e,HOMBRE,NaN,2020-05-23,2020-05-24,NO APLICA,57,NO,NO,NO,NO,SI,NO,SI,NO,NO

In [4]:
cases_per_date = clean_covid_data.copy()
cases_per_date = cases_per_date.groupby(['FECHA INGRESO']).count().reset_index().rename(columns={'ID_REGISTRO':'CASOS','FECHA INGRESO':'FECHA'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1)
cases_per_date

          FECHA  CASOS
0    2020-01-13      1
1    2020-01-14      1
2    2020-01-28      1
3    2020-01-29      1
4    2020-01-30      1
..          ...    ...
118  2020-06-20   4245
119  2020-06-21   3121
120  2020-06-22  10267
121  2020-06-23  10909
122  2020-06-24   4760

[123 rows x 2 columns]

In [5]:
# File to Load (Remember to Change These)
file_to_load = "../../Resources/afluencia-preliminar-en-transporte-publico.csv"

# Read Purchasing File and store into Pandas data frame
daily_transport_data = pd.read_csv(file_to_load)
daily_transport_data.head()

,FECHA,DÍA MES,DÍA SEMANA,MES,AÑO,ORGANISMO,LINEA/SERVICIO,AFLUENCIA TARJETA,AFLUENCIA BOLETO,AFLUENCIA TOTAL\n(cifras preliminares)
0,2020-03-09,9,Lunes,2020-03,2020,Ecobici,NaN,NaN,NaN,23154.0
1,2020-03-11,11,Miércoles,2020-03,2020,Ecobici,NaN,NaN,NaN,31609.0
2,2020-03-13,13,Viernes,2020-03,2020,Ecobici,NaN,NaN,NaN,28080.0
3,2020-03-15,15,Domingo,2020-03,2020,Ecobici,NaN,NaN,NaN,8492.0
4,2020-03-24,24,Martes,2020-03,2020,Ecobici,NaN,NaN,NaN,11358.0

In [6]:
afluencia_total_diaria = daily_transport_data.rename(columns={'AFLUENCIA TOTAL\n(cifras preliminares)':'AFLUENCIA TOTAL'})[["FECHA","AFLUENCIA TOTAL"]]
afluencia_total_diaria = afluencia_total_diaria.groupby(["FECHA"]).sum()
afluencia_total_diaria

            AFLUENCIA TOTAL
FECHA
2020-03-01        3459628.0
2020-03-02        6932366.0
2020-03-03        7125952.0
2020-03-04        7173088.0
2020-03-05        7197222.0
...                     ...
2020-06-22        2275450.0
2020-06-23        2309407.0
2020-06-24        2404465.0
2020-06-25        1908987.0
2020-06-26              0.0

[118 rows x 1 columns]

In [7]:
casos_afluencia_diaria = pd.DataFrame.merge(cases_per_date,afluencia_total_diaria,how='left',on='FECHA')
casos_afluencia_diaria

          FECHA  CASOS  AFLUENCIA TOTAL
0    2020-01-13      1              NaN
1    2020-01-14      1              NaN
2    2020-01-28      1              NaN
3    2020-01-29      1              NaN
4    2020-01-30      1              NaN
..          ...    ...              ...
118  2020-06-20   4245        1938173.0
119  2020-06-21   3121        1191119.0
120  2020-06-22  10267        2275450.0
121  2020-06-23  10909        2309407.0
122  2020-06-24   4760        2404465.0

[123 rows x 3 columns]

In [8]:
pd.DataFrame.to_csv(casos_afluencia_diaria,'../assets/data/casos_vs_afluencia_diaria.csv',encoding='latin1')

In [9]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db = myclient.IMDB_Database

movies_db=db.IMDB_Movies

In [11]:
data_dict = casos_afluencia_diaria.to_dict("records")

for record in data_dict:
    movies_db.insert_one(record)

In [12]:
data_dict

[{'FECHA': '2020-01-13',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2d654e29fef504fa07')},
 {'FECHA': '2020-01-14',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa08')},
 {'FECHA': '2020-01-28',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa09')},
 {'FECHA': '2020-01-29',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0a')},
 {'FECHA': '2020-01-30',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0b')},
 {'FECHA': '2020-02-07',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0c')},
 {'FECHA': '2020-02-12',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0d')},
 {'FECHA': '2020-02-27',
  'CASOS': 4,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0e')},
 {'FECHA': '2020-02-28',
  'CASOS': 2,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa0f')},
 {'FECHA': '2020-02-29',
  'CASOS': 1,
  'AFLUENCIA TOTAL': nan,
  '_id': ObjectId('5ef76a2e654e29fef504fa10')},
 {'FECHA': '2020-03-02',
  'CASOS': 2,
  'AFLUENCIA TOTAL': 6932366.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa11')},
 {'FECHA': '2020-03-04',
  'CASOS': 2,
  'AFLUENCIA TOTAL': 7173088.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa12')},
 {'FECHA': '2020-03-05',
  'CASOS': 1,
  'AFLUENCIA TOTAL': 7197222.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa13')},
 {'FECHA': '2020-03-07',
  'CASOS': 1,
  'AFLUENCIA TOTAL': 5407096.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa14')},
 {'FECHA': '2020-03-08',
  'CASOS': 4,
  'AFLUENCIA TOTAL': 3485107.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa15')},
 {'FECHA': '2020-03-09',
  'CASOS': 2,
  'AFLUENCIA TOTAL': 4986447.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa16')},
 {'FECHA': '2020-03-10',
  'CASOS': 9,
  'AFLUENCIA TOTAL': 7099894.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa17')},
 {'FECHA': '2020-03-11',
  'CASOS': 27,
  'AFLUENCIA TOTAL': 7040110.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa18')},
 {'FECHA': '2020-03-12',
  'CASOS': 28,
  'AFLUENCIA TOTAL': 7074400.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa19')},
 {'FECHA': '2020-03-13',
  'CASOS': 60,
  'AFLUENCIA TOTAL': 7264538.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1a')},
 {'FECHA': '2020-03-14',
  'CASOS': 50,
  'AFLUENCIA TOTAL': 5137139.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1b')},
 {'FECHA': '2020-03-15',
  'CASOS': 36,
  'AFLUENCIA TOTAL': 3193518.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1c')},
 {'FECHA': '2020-03-16',
  'CASOS': 68,
  'AFLUENCIA TOTAL': 3630784.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1d')},
 {'FECHA': '2020-03-17',
  'CASOS': 91,
  'AFLUENCIA TOTAL': 6137483.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1e')},
 {'FECHA': '2020-03-18',
  'CASOS': 99,
  'AFLUENCIA TOTAL': 5859717.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa1f')},
 {'FECHA': '2020-03-19',
  'CASOS': 107,
  'AFLUENCIA TOTAL': 5562298.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa20')},
 {'FECHA': '2020-03-20',
  'CASOS': 101,
  'AFLUENCIA TOTAL': 5349875.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa21')},
 {'FECHA': '2020-03-21',
  'CASOS': 66,
  'AFLUENCIA TOTAL': 3771191.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa22')},
 {'FECHA': '2020-03-22',
  'CASOS': 48,
  'AFLUENCIA TOTAL': 2279048.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa23')},
 {'FECHA': '2020-03-23',
  'CASOS': 130,
  'AFLUENCIA TOTAL': 4318569.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa24')},
 {'FECHA': '2020-03-24',
  'CASOS': 167,
  'AFLUENCIA TOTAL': 3903234.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa25')},
 {'FECHA': '2020-03-25',
  'CASOS': 143,
  'AFLUENCIA TOTAL': 3858129.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa26')},
 {'FECHA': '2020-03-26',
  'CASOS': 174,
  'AFLUENCIA TOTAL': 3702915.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa27')},
 {'FECHA': '2020-03-27',
  'CASOS': 213,
  'AFLUENCIA TOTAL': 3514949.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa28')},
 {'FECHA': '2020-03-28',
  'CASOS': 162,
  'AFLUENCIA TOTAL': 2707991.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa29')},
 {'FECHA': '2020-03-29',
  'CASOS': 145,
  'AFLUENCIA TOTAL': 1789310.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2a')},
 {'FECHA': '2020-03-30',
  'CASOS': 312,
  'AFLUENCIA TOTAL': 3266590.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2b')},
 {'FECHA': '2020-03-31',
  'CASOS': 285,
  'AFLUENCIA TOTAL': 3211527.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2c')},
 {'FECHA': '2020-04-01',
  'CASOS': 329,
  'AFLUENCIA TOTAL': 3043357.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2d')},
 {'FECHA': '2020-04-02',
  'CASOS': 308,
  'AFLUENCIA TOTAL': 2825813.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2e')},
 {'FECHA': '2020-04-03',
  'CASOS': 347,
  'AFLUENCIA TOTAL': 2778256.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa2f')},
 {'FECHA': '2020-04-04',
  'CASOS': 222,
  'AFLUENCIA TOTAL': 2108601.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa30')},
 {'FECHA': '2020-04-05',
  'CASOS': 228,
  'AFLUENCIA TOTAL': 1304044.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa31')},
 {'FECHA': '2020-04-06',
  'CASOS': 538,
  'AFLUENCIA TOTAL': 2344082.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa32')},
 {'FECHA': '2020-04-07',
  'CASOS': 461,
  'AFLUENCIA TOTAL': 2224678.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa33')},
 {'FECHA': '2020-04-08',
  'CASOS': 530,
  'AFLUENCIA TOTAL': 2217318.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa34')},
 {'FECHA': '2020-04-09',
  'CASOS': 414,
  'AFLUENCIA TOTAL': 1653108.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa35')},
 {'FECHA': '2020-04-10',
  'CASOS': 500,
  'AFLUENCIA TOTAL': 1203611.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa36')},
 {'FECHA': '2020-04-11',
  'CASOS': 414,
  'AFLUENCIA TOTAL': 1280280.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa37')},
 {'FECHA': '2020-04-12',
  'CASOS': 436,
  'AFLUENCIA TOTAL': 1003881.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa38')},
 {'FECHA': '2020-04-13',
  'CASOS': 859,
  'AFLUENCIA TOTAL': 2314408.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa39')},
 {'FECHA': '2020-04-14',
  'CASOS': 856,
  'AFLUENCIA TOTAL': 2271475.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3a')},
 {'FECHA': '2020-04-15',
  'CASOS': 882,
  'AFLUENCIA TOTAL': 2317161.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3b')},
 {'FECHA': '2020-04-16',
  'CASOS': 905,
  'AFLUENCIA TOTAL': 2226449.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3c')},
 {'FECHA': '2020-04-17',
  'CASOS': 1042,
  'AFLUENCIA TOTAL': 2260529.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3d')},
 {'FECHA': '2020-04-18',
  'CASOS': 741,
  'AFLUENCIA TOTAL': 1756806.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3e')},
 {'FECHA': '2020-04-19',
  'CASOS': 694,
  'AFLUENCIA TOTAL': 1142562.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa3f')},
 {'FECHA': '2020-04-20',
  'CASOS': 1394,
  'AFLUENCIA TOTAL': 2246950.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa40')},
 {'FECHA': '2020-04-21',
  'CASOS': 1343,
  'AFLUENCIA TOTAL': 2150661.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa41')},
 {'FECHA': '2020-04-22',
  'CASOS': 1289,
  'AFLUENCIA TOTAL': 2128745.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa42')},
 {'FECHA': '2020-04-23',
  'CASOS': 1386,
  'AFLUENCIA TOTAL': 2024556.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa43')},
 {'FECHA': '2020-04-24',
  'CASOS': 1564,
  'AFLUENCIA TOTAL': 2055118.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa44')},
 {'FECHA': '2020-04-25',
  'CASOS': 989,
  'AFLUENCIA TOTAL': 1581555.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa45')},
 {'FECHA': '2020-04-26',
  'CASOS': 968,
  'AFLUENCIA TOTAL': 1002542.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa46')},
 {'FECHA': '2020-04-27',
  'CASOS': 1782,
  'AFLUENCIA TOTAL': 1997764.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa47')},
 {'FECHA': '2020-04-28',
  'CASOS': 1768,
  'AFLUENCIA TOTAL': 1951302.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa48')},
 {'FECHA': '2020-04-29',
  'CASOS': 1745,
  'AFLUENCIA TOTAL': 1967056.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa49')},
 {'FECHA': '2020-04-30',
  'CASOS': 1759,
  'AFLUENCIA TOTAL': 2000201.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4a')},
 {'FECHA': '2020-05-01',
  'CASOS': 1354,
  'AFLUENCIA TOTAL': 1461183.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4b')},
 {'FECHA': '2020-05-02',
  'CASOS': 1360,
  'AFLUENCIA TOTAL': 1442196.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4c')},
 {'FECHA': '2020-05-03',
  'CASOS': 1241,
  'AFLUENCIA TOTAL': 936328.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4d')},
 {'FECHA': '2020-05-04',
  'CASOS': 2510,
  'AFLUENCIA TOTAL': 1922766.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4e')},
 {'FECHA': '2020-05-05',
  'CASOS': 2189,
  'AFLUENCIA TOTAL': 1801106.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa4f')},
 {'FECHA': '2020-05-06',
  'CASOS': 2380,
  'AFLUENCIA TOTAL': 1802090.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa50')},
 {'FECHA': '2020-05-07',
  'CASOS': 2457,
  'AFLUENCIA TOTAL': 1766449.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa51')},
 {'FECHA': '2020-05-08',
  'CASOS': 2509,
  'AFLUENCIA TOTAL': 1849152.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa52')},
 {'FECHA': '2020-05-09',
  'CASOS': 1587,
  'AFLUENCIA TOTAL': 1393560.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa53')},
 {'FECHA': '2020-05-10',
  'CASOS': 1423,
  'AFLUENCIA TOTAL': 869373.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa54')},
 {'FECHA': '2020-05-11',
  'CASOS': 3058,
  'AFLUENCIA TOTAL': 1804818.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa55')},
 {'FECHA': '2020-05-12',
  'CASOS': 3021,
  'AFLUENCIA TOTAL': 1764243.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa56')},
 {'FECHA': '2020-05-13',
  'CASOS': 3223,
  'AFLUENCIA TOTAL': 1797331.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa57')},
 {'FECHA': '2020-05-14',
  'CASOS': 3171,
  'AFLUENCIA TOTAL': 1802946.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa58')},
 {'FECHA': '2020-05-15',
  'CASOS': 3624,
  'AFLUENCIA TOTAL': 1967993.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa59')},
 {'FECHA': '2020-05-16',
  'CASOS': 2224,
  'AFLUENCIA TOTAL': 1529632.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5a')},
 {'FECHA': '2020-05-17',
  'CASOS': 1680,
  'AFLUENCIA TOTAL': 972733.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5b')},
 {'FECHA': '2020-05-18',
  'CASOS': 4217,
  'AFLUENCIA TOTAL': 1884360.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5c')},
 {'FECHA': '2020-05-19',
  'CASOS': 3757,
  'AFLUENCIA TOTAL': 1884195.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5d')},
 {'FECHA': '2020-05-20',
  'CASOS': 4038,
  'AFLUENCIA TOTAL': 1897704.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5e')},
 {'FECHA': '2020-05-21',
  'CASOS': 4100,
  'AFLUENCIA TOTAL': 1872828.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa5f')},
 {'FECHA': '2020-05-22',
  'CASOS': 4219,
  'AFLUENCIA TOTAL': 1940203.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa60')},
 {'FECHA': '2020-05-23',
  'CASOS': 2354,
  'AFLUENCIA TOTAL': 1545160.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa61')},
 {'FECHA': '2020-05-24',
  'CASOS': 1957,
  'AFLUENCIA TOTAL': 963614.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa62')},
 {'FECHA': '2020-05-25',
  'CASOS': 4809,
  'AFLUENCIA TOTAL': 1945411.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa63')},
 {'FECHA': '2020-05-26',
  'CASOS': 4533,
  'AFLUENCIA TOTAL': 1903118.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa64')},
 {'FECHA': '2020-05-27',
  'CASOS': 4662,
  'AFLUENCIA TOTAL': 1925169.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa65')},
 {'FECHA': '2020-05-28',
  'CASOS': 4440,
  'AFLUENCIA TOTAL': 1923004.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa66')},
 {'FECHA': '2020-05-29',
  'CASOS': 4581,
  'AFLUENCIA TOTAL': 2054956.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa67')},
 {'FECHA': '2020-05-30',
  'CASOS': 2894,
  'AFLUENCIA TOTAL': 1633705.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa68')},
 {'FECHA': '2020-05-31',
  'CASOS': 2161,
  'AFLUENCIA TOTAL': 1030248.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa69')},
 {'FECHA': '2020-06-01',
  'CASOS': 5586,
  'AFLUENCIA TOTAL': 2147960.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6a')},
 {'FECHA': '2020-06-02',
  'CASOS': 5083,
  'AFLUENCIA TOTAL': 2078795.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6b')},
 {'FECHA': '2020-06-03',
  'CASOS': 5266,
  'AFLUENCIA TOTAL': 2139958.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6c')},
 {'FECHA': '2020-06-04',
  'CASOS': 5198,
  'AFLUENCIA TOTAL': 2108338.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6d')},
 {'FECHA': '2020-06-05',
  'CASOS': 5399,
  'AFLUENCIA TOTAL': 2198438.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6e')},
 {'FECHA': '2020-06-06',
  'CASOS': 3100,
  'AFLUENCIA TOTAL': 1728063.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa6f')},
 {'FECHA': '2020-06-07',
  'CASOS': 2474,
  'AFLUENCIA TOTAL': 1070642.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa70')},
 {'FECHA': '2020-06-08',
  'CASOS': 6519,
  'AFLUENCIA TOTAL': 2166112.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa71')},
 {'FECHA': '2020-06-09',
  'CASOS': 6125,
  'AFLUENCIA TOTAL': 2160118.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa72')},
 {'FECHA': '2020-06-10',
  'CASOS': 6176,
  'AFLUENCIA TOTAL': 2187060.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa73')},
 {'FECHA': '2020-06-11',
  'CASOS': 5896,
  'AFLUENCIA TOTAL': 2174493.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa74')},
 {'FECHA': '2020-06-12',
  'CASOS': 6215,
  'AFLUENCIA TOTAL': 2309292.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa75')},
 {'FECHA': '2020-06-13',
  'CASOS': 3295,
  'AFLUENCIA TOTAL': 1805661.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa76')},
 {'FECHA': '2020-06-14',
  'CASOS': 2754,
  'AFLUENCIA TOTAL': 1136913.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa77')},
 {'FECHA': '2020-06-15',
  'CASOS': 7111,
  'AFLUENCIA TOTAL': 2370129.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa78')},
 {'FECHA': '2020-06-16',
  'CASOS': 7074,
  'AFLUENCIA TOTAL': 2368969.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa79')},
 {'FECHA': '2020-06-17',
  'CASOS': 6877,
  'AFLUENCIA TOTAL': 2365107.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7a')},
 {'FECHA': '2020-06-18',
  'CASOS': 7322,
  'AFLUENCIA TOTAL': 2379891.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7b')},
 {'FECHA': '2020-06-19',
  'CASOS': 7577,
  'AFLUENCIA TOTAL': 2429433.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7c')},
 {'FECHA': '2020-06-20',
  'CASOS': 4245,
  'AFLUENCIA TOTAL': 1938173.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7d')},
 {'FECHA': '2020-06-21',
  'CASOS': 3121,
  'AFLUENCIA TOTAL': 1191119.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7e')},
 {'FECHA': '2020-06-22',
  'CASOS': 10267,
  'AFLUENCIA TOTAL': 2275450.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa7f')},
 {'FECHA': '2020-06-23',
  'CASOS': 10909,
  'AFLUENCIA TOTAL': 2309407.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa80')},
 {'FECHA': '2020-06-24',
  'CASOS': 4760,
  'AFLUENCIA TOTAL': 2404465.0,
  '_id': ObjectId('5ef76a2e654e29fef504fa81')}]