In [1]:
%matplotlib notebook
import os
import pandas as pd
import numpy as np
import pymongo

In [2]:
file_to_load = "../../Resources/casos-asociados-a-covid-19.csv"

covid_cases_data = pd.read_csv(file_to_load)
covid_cases_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FECHA ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD UNIDAD MEDICA,SEXO,ENTIDAD NACIMIENTO,ENTIDAD RESIDENCIA,MUNICIPIO RESIDENCIA,TIPO PACIENTE,...,Negativo,MIGRANTE,PAIS NACIONALIDAD,PAIS ORIGEN,UNIDAD DE CUIDADOS INTENSIVOS,RANGO EDAD,num_fallecidos,num_hospitalizados,positivo,pendiente
0,2020-06-24,076847,USMER,SSA,PUEBLA,MUJER,PUEBLA,PUEBLA,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
1,2020-06-24,0f2b37,USMER,SSA,CHIAPAS,HOMBRE,CHIAPAS,CHIAPAS,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN
2,2020-06-24,1aa59e,USMER,SSA,VERACRUZ DE IGNACIO DE LA LLAVE,MUJER,VERACRUZ DE IGNACIO DE LA LLAVE,VERACRUZ DE IGNACIO DE LA LLAVE,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,41-50,NaN,NaN,Positivo SARS-CoV-2,NaN
3,2020-06-24,190217,USMER,SSA,SONORA,MUJER,SONORA,SONORA,NaN,HOSPITALIZADO,...,NaN,NO ESPECIFICADO,México,99,NO,41-50,NaN,1.0,Positivo SARS-CoV-2,NaN
4,2020-06-24,169761,USMER,SSA,YUCATÁN,HOMBRE,YUCATÁN,YUCATÁN,NaN,AMBULATORIO,...,NaN,NO ESPECIFICADO,México,99,NO APLICA,31-40,NaN,NaN,Positivo SARS-CoV-2,NaN

In [3]:
clean_covid_data = covid_cases_data[covid_cases_data["Negativo"]!="No positivo SARS-CoV-2"]
clean_covid_data = clean_covid_data[["ID_REGISTRO","SEXO","MUNICIPIO RESIDENCIA","FECHA INGRESO", "FECHA DEFUNCION","INTUBADO","EDAD","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","OBESIDAD","RENAL CRONICA","TABAQUISMO"]]
clean_covid_data = clean_covid_data.fillna("NO")
display(clean_covid_data)

,ID_REGISTRO,SEXO,MUNICIPIO RESIDENCIA,FECHA INGRESO,FECHA DEFUNCION,INTUBADO,EDAD,DIABETES,EPOC,ASMA,INMUNOSUPRESION,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL CRONICA,TABAQUISMO
0,076847,MUJER,NO,2020-06-01,NO,NO APLICA,36,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,0f2b37,HOMBRE,NO,2020-06-02,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,1aa59e,MUJER,NO,2020-06-15,NO,NO APLICA,43,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,190217,MUJER,NO,2020-06-13,NO,NO,42,NO,NO,NO,NO,SI,NO,NO,NO,NO
4,169761,HOMBRE,NO,2020-06-16,NO,NO APLICA,33,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490621,0db5d1,MUJER,NO,2020-05-28,NO,NO APLICA,60,SI,NO,NO,NO,NO,NO,NO,NO,NO
490622,1dc64a,HOMBRE,NO,2020-05-27,NO,NO APLICA,32,NO,NO,NO,NO,NO,NO,SI,NO,NO
490623,130185,MUJER,Iztapalapa,2020-05-12,NO,NO APLICA,52,NO,NO,NO,NO,NO,NO,NO,NO,NO
490624,186960,MUJER,Iztacalco,2020-04-15,NO,NO APLICA,47,NO,NO,NO,NO,NO,NO,SI,NO,NO
490625,07be2e,HOMBRE,NO,2020-05-23,2020-05-24,NO APLICA,57,NO,NO,NO,NO,SI,NO,SI,NO,NO

In [4]:
bins = [-1, 15, 20, 30, 40, 50, 60, 70, 80, 90, 999]
group_labels=['0-15','16-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91+']
data=[]
generos = ["TODOS","MUJER","HOMBRE"]
condiciones = ["SIN CONDICION","DIABETES","EPOC","ASMA","INMUNOSUPRESION","HIPERTENSION","CARDIOVASCULAR","RENAL CRONICA","TABAQUISMO"]
datos = ["CASOS","INTUBADOS","DIFUNTOS"]
for condicion in condiciones:
    for dato in datos:
        for genero in generos:
            resumen = clean_covid_data.copy()
            if genero != "TODOS":
                resumen = resumen[resumen["SEXO"]==genero]
            if condicion != "SIN CONDICION":
                resumen = resumen[resumen[condicion]=="SI"]
            if dato == "INTUBADOS":
                resumen = resumen[resumen["INTUBADO"]=="SI"]
            if dato == "DIFUNTOS":
                resumen = resumen[resumen["FECHA DEFUNCION"]!="NO"]
            resumen["RANGO DE EDAD"] = pd.cut(resumen["EDAD"], bins, labels=group_labels)
            resumen = resumen.groupby(['RANGO DE EDAD']).count().rename(columns={'ID_REGISTRO':f'{genero} - {condicion} - {dato}'}).drop(['SEXO','FECHA DEFUNCION','MUNICIPIO RESIDENCIA','FECHA INGRESO','INTUBADO','EDAD','DIABETES','EPOC','ASMA','INMUNOSUPRESION','HIPERTENSION','CARDIOVASCULAR','OBESIDAD','RENAL CRONICA','TABAQUISMO'],axis=1).reset_index()
            resumen = resumen.transpose()
            resumen = resumen.rename(columns=resumen.iloc[0])
            resumen = resumen.drop(["RANGO DE EDAD"])
            data.append(resumen)
analisis_enfermedades = pd.concat(data)
analisis_enfermedades["TOTAL"] = analisis_enfermedades["0-15"]+analisis_enfermedades["16-20"]+analisis_enfermedades["21-30"]+analisis_enfermedades["31-40"]+analisis_enfermedades["41-50"]+analisis_enfermedades["51-60"]+analisis_enfermedades["61-70"]+analisis_enfermedades["71-80"]+analisis_enfermedades["81-90"]+analisis_enfermedades["91+"]
analisis_enfermedades = analisis_enfermedades.rename_axis("Grupo").reset_index()
analisis_enfermedades.head(10)

,Grupo,0-15,16-20,21-30,31-40,41-50,51-60,61-70,71-80,81-90,91+,TOTAL
0,TODOS - SIN CONDICION - CASOS,5778,4902,40326,58602,57744,45469,26952,13804,5020,725,259322
1,MUJER - SIN CONDICION - CASOS,2736,2574,20114,27686,26604,19825,11352,5803,2285,366,119345
2,HOMBRE - SIN CONDICION - CASOS,3042,2328,20212,30916,31140,25644,15600,8001,2735,359,139977
3,TODOS - SIN CONDICION - INTUBADOS,127,24,180,502,1164,1633,1508,874,270,27,6309
4,MUJER - SIN CONDICION - INTUBADOS,59,11,62,143,302,490,511,306,109,13,2006
5,HOMBRE - SIN CONDICION - INTUBADOS,68,13,118,359,862,1143,997,568,161,14,4303
6,TODOS - SIN CONDICION - DIFUNTOS,91,31,397,1476,3951,6537,6781,4783,1938,233,26218
7,MUJER - SIN CONDICION - DIFUNTOS,39,18,153,433,1143,2040,2410,1800,815,93,8944
8,HOMBRE - SIN CONDICION - DIFUNTOS,52,13,244,1043,2808,4497,4371,2983,1123,140,17274
9,TODOS - DIABETES - CASOS,56,69,682,2993,8252,11568,9687,5238,1514,134,40193

In [5]:
pd.DataFrame.to_csv(analisis_enfermedades,'../assets/data/enfermedades.csv',encoding='latin1')
analisis_enfermedades.to_json('../assets/data/enfermedades.json',orient='records')

In [7]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

#DATABASE
covid = myclient.Covid_DB

#COLLECTION
diseases=covid.diseases

data_dict = analisis_enfermedades.to_dict("records")

for record in data_dict:
    diseases.insert_one(record)
    
data_dict

[{'Grupo': 'TODOS - SIN CONDICION - CASOS',
  '0-15': 5778,
  '16-20': 4902,
  '21-30': 40326,
  '31-40': 58602,
  '41-50': 57744,
  '51-60': 45469,
  '61-70': 26952,
  '71-80': 13804,
  '81-90': 5020,
  '91+': 725,
  'TOTAL': 259322,
  '_id': ObjectId('5ef79414c56e02b6f3800b2d')},
 {'Grupo': 'MUJER - SIN CONDICION - CASOS',
  '0-15': 2736,
  '16-20': 2574,
  '21-30': 20114,
  '31-40': 27686,
  '41-50': 26604,
  '51-60': 19825,
  '61-70': 11352,
  '71-80': 5803,
  '81-90': 2285,
  '91+': 366,
  'TOTAL': 119345,
  '_id': ObjectId('5ef79415c56e02b6f3800b2e')},
 {'Grupo': 'HOMBRE - SIN CONDICION - CASOS',
  '0-15': 3042,
  '16-20': 2328,
  '21-30': 20212,
  '31-40': 30916,
  '41-50': 31140,
  '51-60': 25644,
  '61-70': 15600,
  '71-80': 8001,
  '81-90': 2735,
  '91+': 359,
  'TOTAL': 139977,
  '_id': ObjectId('5ef79415c56e02b6f3800b2f')},
 {'Grupo': 'TODOS - SIN CONDICION - INTUBADOS',
  '0-15': 127,
  '16-20': 24,
  '21-30': 180,
  '31-40': 502,
  '41-50': 1164,
  '51-60': 1633,
  '61-70': 1508,
  '71-80': 874,
  '81-90': 270,
  '91+': 27,
  'TOTAL': 6309,
  '_id': ObjectId('5ef79415c56e02b6f3800b30')},
 {'Grupo': 'MUJER - SIN CONDICION - INTUBADOS',
  '0-15': 59,
  '16-20': 11,
  '21-30': 62,
  '31-40': 143,
  '41-50': 302,
  '51-60': 490,
  '61-70': 511,
  '71-80': 306,
  '81-90': 109,
  '91+': 13,
  'TOTAL': 2006,
  '_id': ObjectId('5ef79415c56e02b6f3800b31')},
 {'Grupo': 'HOMBRE - SIN CONDICION - INTUBADOS',
  '0-15': 68,
  '16-20': 13,
  '21-30': 118,
  '31-40': 359,
  '41-50': 862,
  '51-60': 1143,
  '61-70': 997,
  '71-80': 568,
  '81-90': 161,
  '91+': 14,
  'TOTAL': 4303,
  '_id': ObjectId('5ef79415c56e02b6f3800b32')},
 {'Grupo': 'TODOS - SIN CONDICION - DIFUNTOS',
  '0-15': 91,
  '16-20': 31,
  '21-30': 397,
  '31-40': 1476,
  '41-50': 3951,
  '51-60': 6537,
  '61-70': 6781,
  '71-80': 4783,
  '81-90': 1938,
  '91+': 233,
  'TOTAL': 26218,
  '_id': ObjectId('5ef79415c56e02b6f3800b33')},
 {'Grupo': 'MUJER - SIN CONDICION - DIFUNTOS',
  '0-15': 39,
  '16-20': 18,
  '21-30': 153,
  '31-40': 433,
  '41-50': 1143,
  '51-60': 2040,
  '61-70': 2410,
  '71-80': 1800,
  '81-90': 815,
  '91+': 93,
  'TOTAL': 8944,
  '_id': ObjectId('5ef79415c56e02b6f3800b34')},
 {'Grupo': 'HOMBRE - SIN CONDICION - DIFUNTOS',
  '0-15': 52,
  '16-20': 13,
  '21-30': 244,
  '31-40': 1043,
  '41-50': 2808,
  '51-60': 4497,
  '61-70': 4371,
  '71-80': 2983,
  '81-90': 1123,
  '91+': 140,
  'TOTAL': 17274,
  '_id': ObjectId('5ef79415c56e02b6f3800b35')},
 {'Grupo': 'TODOS - DIABETES - CASOS',
  '0-15': 56,
  '16-20': 69,
  '21-30': 682,
  '31-40': 2993,
  '41-50': 8252,
  '51-60': 11568,
  '61-70': 9687,
  '71-80': 5238,
  '81-90': 1514,
  '91+': 134,
  'TOTAL': 40193,
  '_id': ObjectId('5ef79415c56e02b6f3800b36')},
 {'Grupo': 'MUJER - DIABETES - CASOS',
  '0-15': 25,
  '16-20': 36,
  '21-30': 356,
  '31-40': 1338,
  '41-50': 3616,
  '51-60': 5140,
  '61-70': 4308,
  '71-80': 2394,
  '81-90': 775,
  '91+': 67,
  'TOTAL': 18055,
  '_id': ObjectId('5ef79415c56e02b6f3800b37')},
 {'Grupo': 'HOMBRE - DIABETES - CASOS',
  '0-15': 31,
  '16-20': 33,
  '21-30': 326,
  '31-40': 1655,
  '41-50': 4636,
  '51-60': 6428,
  '61-70': 5379,
  '71-80': 2844,
  '81-90': 739,
  '91+': 67,
  'TOTAL': 22138,
  '_id': ObjectId('5ef79415c56e02b6f3800b38')},
 {'Grupo': 'TODOS - DIABETES - INTUBADOS',
  '0-15': 4,
  '16-20': 2,
  '21-30': 15,
  '31-40': 86,
  '41-50': 335,
  '51-60': 617,
  '61-70': 648,
  '71-80': 380,
  '81-90': 84,
  '91+': 3,
  'TOTAL': 2174,
  '_id': ObjectId('5ef79415c56e02b6f3800b39')},
 {'Grupo': 'MUJER - DIABETES - INTUBADOS',
  '0-15': 2,
  '16-20': 1,
  '21-30': 4,
  '31-40': 24,
  '41-50': 104,
  '51-60': 221,
  '61-70': 250,
  '71-80': 152,
  '81-90': 38,
  '91+': 0,
  'TOTAL': 796,
  '_id': ObjectId('5ef79415c56e02b6f3800b3a')},
 {'Grupo': 'HOMBRE - DIABETES - INTUBADOS',
  '0-15': 2,
  '16-20': 1,
  '21-30': 11,
  '31-40': 62,
  '41-50': 231,
  '51-60': 396,
  '61-70': 398,
  '71-80': 228,
  '81-90': 46,
  '91+': 3,
  'TOTAL': 1378,
  '_id': ObjectId('5ef79415c56e02b6f3800b3b')},
 {'Grupo': 'TODOS - DIABETES - DIFUNTOS',
  '0-15': 4,
  '16-20': 2,
  '21-30': 48,
  '31-40': 317,
  '41-50': 1219,
  '51-60': 2461,
  '61-70': 2927,
  '71-80': 1993,
  '81-90': 626,
  '91+': 40,
  'TOTAL': 9637,
  '_id': ObjectId('5ef79415c56e02b6f3800b3c')},
 {'Grupo': 'MUJER - DIABETES - DIFUNTOS',
  '0-15': 2,
  '16-20': 2,
  '21-30': 23,
  '31-40': 117,
  '41-50': 442,
  '51-60': 890,
  '61-70': 1139,
  '71-80': 837,
  '81-90': 308,
  '91+': 16,
  'TOTAL': 3776,
  '_id': ObjectId('5ef79415c56e02b6f3800b3d')},
 {'Grupo': 'HOMBRE - DIABETES - DIFUNTOS',
  '0-15': 2,
  '16-20': 0,
  '21-30': 25,
  '31-40': 200,
  '41-50': 777,
  '51-60': 1571,
  '61-70': 1788,
  '71-80': 1156,
  '81-90': 318,
  '91+': 24,
  'TOTAL': 5861,
  '_id': ObjectId('5ef79415c56e02b6f3800b3e')},
 {'Grupo': 'TODOS - EPOC - CASOS',
  '0-15': 10,
  '16-20': 6,
  '21-30': 79,
  '31-40': 210,
  '41-50': 429,
  '51-60': 822,
  '61-70': 1076,
  '71-80': 1075,
  '81-90': 542,
  '91+': 98,
  'TOTAL': 4347,
  '_id': ObjectId('5ef79415c56e02b6f3800b3f')},
 {'Grupo': 'MUJER - EPOC - CASOS',
  '0-15': 4,
  '16-20': 4,
  '21-30': 36,
  '31-40': 84,
  '41-50': 195,
  '51-60': 379,
  '61-70': 505,
  '71-80': 523,
  '81-90': 255,
  '91+': 44,
  'TOTAL': 2029,
  '_id': ObjectId('5ef79415c56e02b6f3800b40')},
 {'Grupo': 'HOMBRE - EPOC - CASOS',
  '0-15': 6,
  '16-20': 2,
  '21-30': 43,
  '31-40': 126,
  '41-50': 234,
  '51-60': 443,
  '61-70': 571,
  '71-80': 552,
  '81-90': 287,
  '91+': 54,
  'TOTAL': 2318,
  '_id': ObjectId('5ef79415c56e02b6f3800b41')},
 {'Grupo': 'TODOS - EPOC - INTUBADOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 2,
  '31-40': 7,
  '41-50': 16,
  '51-60': 45,
  '61-70': 64,
  '71-80': 69,
  '81-90': 29,
  '91+': 3,
  'TOTAL': 235,
  '_id': ObjectId('5ef79415c56e02b6f3800b42')},
 {'Grupo': 'MUJER - EPOC - INTUBADOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 1,
  '31-40': 0,
  '41-50': 6,
  '51-60': 21,
  '61-70': 26,
  '71-80': 33,
  '81-90': 16,
  '91+': 2,
  'TOTAL': 105,
  '_id': ObjectId('5ef79415c56e02b6f3800b43')},
 {'Grupo': 'HOMBRE - EPOC - INTUBADOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 1,
  '31-40': 7,
  '41-50': 10,
  '51-60': 24,
  '61-70': 38,
  '71-80': 36,
  '81-90': 13,
  '91+': 1,
  'TOTAL': 130,
  '_id': ObjectId('5ef79415c56e02b6f3800b44')},
 {'Grupo': 'TODOS - EPOC - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 5,
  '31-40': 22,
  '41-50': 76,
  '51-60': 203,
  '61-70': 343,
  '71-80': 403,
  '81-90': 208,
  '91+': 31,
  'TOTAL': 1291,
  '_id': ObjectId('5ef79415c56e02b6f3800b45')},
 {'Grupo': 'MUJER - EPOC - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 2,
  '31-40': 3,
  '41-50': 27,
  '51-60': 83,
  '61-70': 133,
  '71-80': 193,
  '81-90': 102,
  '91+': 10,
  'TOTAL': 553,
  '_id': ObjectId('5ef79415c56e02b6f3800b46')},
 {'Grupo': 'HOMBRE - EPOC - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 3,
  '31-40': 19,
  '41-50': 49,
  '51-60': 120,
  '61-70': 210,
  '71-80': 210,
  '81-90': 106,
  '91+': 21,
  'TOTAL': 738,
  '_id': ObjectId('5ef79415c56e02b6f3800b47')},
 {'Grupo': 'TODOS - ASMA - CASOS',
  '0-15': 207,
  '16-20': 173,
  '21-30': 1273,
  '31-40': 1752,
  '41-50': 1699,
  '51-60': 1115,
  '61-70': 584,
  '71-80': 258,
  '81-90': 98,
  '91+': 9,
  'TOTAL': 7168,
  '_id': ObjectId('5ef79415c56e02b6f3800b48')},
 {'Grupo': 'MUJER - ASMA - CASOS',
  '0-15': 81,
  '16-20': 87,
  '21-30': 717,
  '31-40': 1054,
  '41-50': 1099,
  '51-60': 721,
  '61-70': 351,
  '71-80': 147,
  '81-90': 42,
  '91+': 7,
  'TOTAL': 4306,
  '_id': ObjectId('5ef79415c56e02b6f3800b49')},
 {'Grupo': 'HOMBRE - ASMA - CASOS',
  '0-15': 126,
  '16-20': 86,
  '21-30': 556,
  '31-40': 698,
  '41-50': 600,
  '51-60': 394,
  '61-70': 233,
  '71-80': 111,
  '81-90': 56,
  '91+': 2,
  'TOTAL': 2862,
  '_id': ObjectId('5ef79415c56e02b6f3800b4a')},
 {'Grupo': 'TODOS - ASMA - INTUBADOS',
  '0-15': 0,
  '16-20': 1,
  '21-30': 7,
  '31-40': 16,
  '41-50': 18,
  '51-60': 28,
  '61-70': 30,
  '71-80': 12,
  '81-90': 5,
  '91+': 1,
  'TOTAL': 118,
  '_id': ObjectId('5ef79415c56e02b6f3800b4b')},
 {'Grupo': 'MUJER - ASMA - INTUBADOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 2,
  '31-40': 7,
  '41-50': 5,
  '51-60': 17,
  '61-70': 12,
  '71-80': 5,
  '81-90': 0,
  '91+': 1,
  'TOTAL': 49,
  '_id': ObjectId('5ef79415c56e02b6f3800b4c')},
 {'Grupo': 'HOMBRE - ASMA - INTUBADOS',
  '0-15': 0,
  '16-20': 1,
  '21-30': 5,
  '31-40': 9,
  '41-50': 13,
  '51-60': 11,
  '61-70': 18,
  '71-80': 7,
  '81-90': 5,
  '91+': 0,
  'TOTAL': 69,
  '_id': ObjectId('5ef79415c56e02b6f3800b4d')},
 {'Grupo': 'TODOS - ASMA - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 15,
  '31-40': 42,
  '41-50': 90,
  '51-60': 133,
  '61-70': 121,
  '71-80': 86,
  '81-90': 27,
  '91+': 4,
  'TOTAL': 518,
  '_id': ObjectId('5ef79415c56e02b6f3800b4e')},
 {'Grupo': 'MUJER - ASMA - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 6,
  '31-40': 20,
  '41-50': 45,
  '51-60': 78,
  '61-70': 65,
  '71-80': 46,
  '81-90': 7,
  '91+': 3,
  'TOTAL': 270,
  '_id': ObjectId('5ef79415c56e02b6f3800b4f')},
 {'Grupo': 'HOMBRE - ASMA - DIFUNTOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 9,
  '31-40': 22,
  '41-50': 45,
  '51-60': 55,
  '61-70': 56,
  '71-80': 40,
  '81-90': 20,
  '91+': 1,
  'TOTAL': 248,
  '_id': ObjectId('5ef79415c56e02b6f3800b50')},
 {'Grupo': 'TODOS - INMUNOSUPRESION - CASOS',
  '0-15': 200,
  '16-20': 72,
  '21-30': 299,
  '31-40': 490,
  '41-50': 691,
  '51-60': 738,
  '61-70': 627,
  '71-80': 347,
  '81-90': 112,
  '91+': 21,
  'TOTAL': 3597,
  '_id': ObjectId('5ef79415c56e02b6f3800b51')},
 {'Grupo': 'MUJER - INMUNOSUPRESION - CASOS',
  '0-15': 96,
  '16-20': 38,
  '21-30': 143,
  '31-40': 243,
  '41-50': 375,
  '51-60': 384,
  '61-70': 319,
  '71-80': 170,
  '81-90': 55,
  '91+': 7,
  'TOTAL': 1830,
  '_id': ObjectId('5ef79415c56e02b6f3800b52')},
 {'Grupo': 'HOMBRE - INMUNOSUPRESION - CASOS',
  '0-15': 104,
  '16-20': 34,
  '21-30': 156,
  '31-40': 247,
  '41-50': 316,
  '51-60': 354,
  '61-70': 308,
  '71-80': 177,
  '81-90': 57,
  '91+': 14,
  'TOTAL': 1767,
  '_id': ObjectId('5ef79415c56e02b6f3800b53')},
 {'Grupo': 'TODOS - INMUNOSUPRESION - INTUBADOS',
  '0-15': 15,
  '16-20': 6,
  '21-30': 7,
  '31-40': 8,
  '41-50': 21,
  '51-60': 36,
  '61-70': 29,
  '71-80': 26,
  '81-90': 6,
  '91+': 1,
  'TOTAL': 155,
  '_id': ObjectId('5ef79415c56e02b6f3800b54')},
 {'Grupo': 'MUJER - INMUNOSUPRESION - INTUBADOS',
  '0-15': 4,
  '16-20': 3,
  '21-30': 1,
  '31-40': 6,
  '41-50': 11,
  '51-60': 10,
  '61-70': 16,
  '71-80': 10,
  '81-90': 1,
  '91+': 0,
  'TOTAL': 62,
  '_id': ObjectId('5ef79415c56e02b6f3800b55')},
 {'Grupo': 'HOMBRE - INMUNOSUPRESION - INTUBADOS',
  '0-15': 11,
  '16-20': 3,
  '21-30': 6,
  '31-40': 2,
  '41-50': 10,
  '51-60': 26,
  '61-70': 13,
  '71-80': 16,
  '81-90': 5,
  '91+': 1,
  'TOTAL': 93,
  '_id': ObjectId('5ef79415c56e02b6f3800b56')},
 {'Grupo': 'TODOS - INMUNOSUPRESION - DIFUNTOS',
  '0-15': 8,
  '16-20': 8,
  '21-30': 25,
  '31-40': 49,
  '41-50': 109,
  '51-60': 166,
  '61-70': 201,
  '71-80': 127,
  '81-90': 44,
  '91+': 10,
  'TOTAL': 747,
  '_id': ObjectId('5ef79415c56e02b6f3800b57')},
 {'Grupo': 'MUJER - INMUNOSUPRESION - DIFUNTOS',
  '0-15': 6,
  '16-20': 4,
  '21-30': 13,
  '31-40': 19,
  '41-50': 42,
  '51-60': 69,
  '61-70': 90,
  '71-80': 53,
  '81-90': 16,
  '91+': 4,
  'TOTAL': 316,
  '_id': ObjectId('5ef79415c56e02b6f3800b58')},
 {'Grupo': 'HOMBRE - INMUNOSUPRESION - DIFUNTOS',
  '0-15': 2,
  '16-20': 4,
  '21-30': 12,
  '31-40': 30,
  '41-50': 67,
  '51-60': 97,
  '61-70': 111,
  '71-80': 74,
  '81-90': 28,
  '91+': 6,
  'TOTAL': 431,
  '_id': ObjectId('5ef79415c56e02b6f3800b59')},
 {'Grupo': 'TODOS - HIPERTENSION - CASOS',
  '0-15': 51,
  '16-20': 47,
  '21-30': 1179,
  '31-40': 3849,
  '41-50': 9607,
  '51-60': 13381,
  '61-70': 11487,
  '71-80': 7209,
  '81-90': 2672,
  '91+': 333,
  'TOTAL': 49815,
  '_id': ObjectId('5ef79415c56e02b6f3800b5a')},
 {'Grupo': 'MUJER - HIPERTENSION - CASOS',
  '0-15': 24,
  '16-20': 21,
  '21-30': 488,
  '31-40': 1579,
  '41-50': 4392,
  '51-60': 6273,
  '61-70': 5393,
  '71-80': 3381,
  '81-90': 1343,
  '91+': 183,
  'TOTAL': 23077,
  '_id': ObjectId('5ef79415c56e02b6f3800b5b')},
 {'Grupo': 'HOMBRE - HIPERTENSION - CASOS',
  '0-15': 27,
  '16-20': 26,
  '21-30': 691,
  '31-40': 2270,
  '41-50': 5215,
  '51-60': 7108,
  '61-70': 6094,
  '71-80': 3828,
  '81-90': 1329,
  '91+': 150,
  'TOTAL': 26738,
  '_id': ObjectId('5ef79415c56e02b6f3800b5c')},
 {'Grupo': 'TODOS - HIPERTENSION - INTUBADOS',
  '0-15': 2,
  '16-20': 2,
  '21-30': 19,
  '31-40': 63,
  '41-50': 291,
  '51-60': 563,
  '61-70': 680,
  '71-80': 471,
  '81-90': 138,
  '91+': 18,
  'TOTAL': 2247,
  '_id': ObjectId('5ef79415c56e02b6f3800b5d')},
 {'Grupo': 'MUJER - HIPERTENSION - INTUBADOS',
  '0-15': 1,
  '16-20': 2,
  '21-30': 11,
  '31-40': 19,
  '41-50': 92,
  '51-60': 209,
  '61-70': 255,
  '71-80': 185,
  '81-90': 70,
  '91+': 10,
  'TOTAL': 854,
  '_id': ObjectId('5ef79415c56e02b6f3800b5e')},
 {'Grupo': 'HOMBRE - HIPERTENSION - INTUBADOS',
  '0-15': 1,
  '16-20': 0,
  '21-30': 8,
  '31-40': 44,
  '41-50': 199,
  '51-60': 354,
  '61-70': 425,
  '71-80': 286,
  '81-90': 68,
  '91+': 8,
  'TOTAL': 1393,
  '_id': ObjectId('5ef79415c56e02b6f3800b5f')},
 {'Grupo': 'TODOS - HIPERTENSION - DIFUNTOS',
  '0-15': 4,
  '16-20': 4,
  '21-30': 71,
  '31-40': 280,
  '41-50': 1150,
  '51-60': 2488,
  '61-70': 3196,
  '71-80': 2608,
  '81-90': 1064,
  '91+': 126,
  'TOTAL': 10991,
  '_id': ObjectId('5ef79415c56e02b6f3800b60')},
 {'Grupo': 'MUJER - HIPERTENSION - DIFUNTOS',
  '0-15': 2,
  '16-20': 4,
  '21-30': 33,
  '31-40': 101,
  '41-50': 409,
  '51-60': 952,
  '61-70': 1302,
  '71-80': 1115,
  '81-90': 495,
  '91+': 56,
  'TOTAL': 4469,
  '_id': ObjectId('5ef79415c56e02b6f3800b61')},
 {'Grupo': 'HOMBRE - HIPERTENSION - DIFUNTOS',
  '0-15': 2,
  '16-20': 0,
  '21-30': 38,
  '31-40': 179,
  '41-50': 741,
  '51-60': 1536,
  '61-70': 1894,
  '71-80': 1493,
  '81-90': 569,
  '91+': 70,
  'TOTAL': 6522,
  '_id': ObjectId('5ef79415c56e02b6f3800b62')},
 {'Grupo': 'TODOS - CARDIOVASCULAR - CASOS',
  '0-15': 88,
  '16-20': 35,
  '21-30': 248,
  '31-40': 473,
  '41-50': 825,
  '51-60': 1221,
  '61-70': 1310,
  '71-80': 1134,
  '81-90': 530,
  '91+': 95,
  'TOTAL': 5959,
  '_id': ObjectId('5ef79415c56e02b6f3800b63')},
 {'Grupo': 'MUJER - CARDIOVASCULAR - CASOS',
  '0-15': 43,
  '16-20': 18,
  '21-30': 116,
  '31-40': 228,
  '41-50': 378,
  '51-60': 510,
  '61-70': 518,
  '71-80': 466,
  '81-90': 249,
  '91+': 40,
  'TOTAL': 2566,
  '_id': ObjectId('5ef79415c56e02b6f3800b64')},
 {'Grupo': 'HOMBRE - CARDIOVASCULAR - CASOS',
  '0-15': 45,
  '16-20': 17,
  '21-30': 132,
  '31-40': 245,
  '41-50': 447,
  '51-60': 711,
  '61-70': 792,
  '71-80': 668,
  '81-90': 281,
  '91+': 55,
  'TOTAL': 3393,
  '_id': ObjectId('5ef79415c56e02b6f3800b65')},
 {'Grupo': 'TODOS - CARDIOVASCULAR - INTUBADOS',
  '0-15': 8,
  '16-20': 0,
  '21-30': 3,
  '31-40': 4,
  '41-50': 34,
  '51-60': 76,
  '61-70': 77,
  '71-80': 76,
  '81-90': 41,
  '91+': 3,
  'TOTAL': 322,
  '_id': ObjectId('5ef79415c56e02b6f3800b66')},
 {'Grupo': 'MUJER - CARDIOVASCULAR - INTUBADOS',
  '0-15': 5,
  '16-20': 0,
  '21-30': 2,
  '31-40': 0,
  '41-50': 9,
  '51-60': 24,
  '61-70': 20,
  '71-80': 30,
  '81-90': 15,
  '91+': 1,
  'TOTAL': 106,
  '_id': ObjectId('5ef79415c56e02b6f3800b67')},
 {'Grupo': 'HOMBRE - CARDIOVASCULAR - INTUBADOS',
  '0-15': 3,
  '16-20': 0,
  '21-30': 1,
  '31-40': 4,
  '41-50': 25,
  '51-60': 52,
  '61-70': 57,
  '71-80': 46,
  '81-90': 26,
  '91+': 2,
  'TOTAL': 216,
  '_id': ObjectId('5ef79415c56e02b6f3800b68')},
 {'Grupo': 'TODOS - CARDIOVASCULAR - DIFUNTOS',
  '0-15': 4,
  '16-20': 1,
  '21-30': 14,
  '31-40': 32,
  '41-50': 99,
  '51-60': 232,
  '61-70': 387,
  '71-80': 408,
  '81-90': 200,
  '91+': 35,
  'TOTAL': 1412,
  '_id': ObjectId('5ef79415c56e02b6f3800b69')},
 {'Grupo': 'MUJER - CARDIOVASCULAR - DIFUNTOS',
  '0-15': 3,
  '16-20': 0,
  '21-30': 6,
  '31-40': 12,
  '41-50': 31,
  '51-60': 91,
  '61-70': 131,
  '71-80': 149,
  '81-90': 87,
  '91+': 13,
  'TOTAL': 523,
  '_id': ObjectId('5ef79415c56e02b6f3800b6a')},
 {'Grupo': 'HOMBRE - CARDIOVASCULAR - DIFUNTOS',
  '0-15': 1,
  '16-20': 1,
  '21-30': 8,
  '31-40': 20,
  '41-50': 68,
  '51-60': 141,
  '61-70': 256,
  '71-80': 259,
  '81-90': 113,
  '91+': 22,
  'TOTAL': 889,
  '_id': ObjectId('5ef79415c56e02b6f3800b6b')},
 {'Grupo': 'TODOS - RENAL CRONICA - CASOS',
  '0-15': 40,
  '16-20': 34,
  '21-30': 362,
  '31-40': 622,
  '41-50': 888,
  '51-60': 1239,
  '61-70': 1244,
  '71-80': 754,
  '81-90': 253,
  '91+': 33,
  'TOTAL': 5469,
  '_id': ObjectId('5ef79415c56e02b6f3800b6c')},
 {'Grupo': 'MUJER - RENAL CRONICA - CASOS',
  '0-15': 21,
  '16-20': 22,
  '21-30': 154,
  '31-40': 264,
  '41-50': 354,
  '51-60': 532,
  '61-70': 532,
  '71-80': 324,
  '81-90': 97,
  '91+': 12,
  'TOTAL': 2312,
  '_id': ObjectId('5ef79415c56e02b6f3800b6d')},
 {'Grupo': 'HOMBRE - RENAL CRONICA - CASOS',
  '0-15': 19,
  '16-20': 12,
  '21-30': 208,
  '31-40': 358,
  '41-50': 534,
  '51-60': 707,
  '61-70': 712,
  '71-80': 430,
  '81-90': 156,
  '91+': 21,
  'TOTAL': 3157,
  '_id': ObjectId('5ef79415c56e02b6f3800b6e')},
 {'Grupo': 'TODOS - RENAL CRONICA - INTUBADOS',
  '0-15': 1,
  '16-20': 2,
  '21-30': 11,
  '31-40': 16,
  '41-50': 45,
  '51-60': 81,
  '61-70': 83,
  '71-80': 48,
  '81-90': 17,
  '91+': 1,
  'TOTAL': 305,
  '_id': ObjectId('5ef79415c56e02b6f3800b6f')},
 {'Grupo': 'MUJER - RENAL CRONICA - INTUBADOS',
  '0-15': 0,
  '16-20': 1,
  '21-30': 4,
  '31-40': 6,
  '41-50': 12,
  '51-60': 27,
  '61-70': 29,
  '71-80': 24,
  '81-90': 6,
  '91+': 0,
  'TOTAL': 109,
  '_id': ObjectId('5ef79415c56e02b6f3800b70')},
 {'Grupo': 'HOMBRE - RENAL CRONICA - INTUBADOS',
  '0-15': 1,
  '16-20': 1,
  '21-30': 7,
  '31-40': 10,
  '41-50': 33,
  '51-60': 54,
  '61-70': 54,
  '71-80': 24,
  '81-90': 11,
  '91+': 1,
  'TOTAL': 196,
  '_id': ObjectId('5ef79415c56e02b6f3800b71')},
 {'Grupo': 'TODOS - RENAL CRONICA - DIFUNTOS',
  '0-15': 2,
  '16-20': 3,
  '21-30': 48,
  '31-40': 102,
  '41-50': 246,
  '51-60': 424,
  '61-70': 482,
  '71-80': 333,
  '81-90': 110,
  '91+': 9,
  'TOTAL': 1759,
  '_id': ObjectId('5ef79415c56e02b6f3800b72')},
 {'Grupo': 'MUJER - RENAL CRONICA - DIFUNTOS',
  '0-15': 1,
  '16-20': 2,
  '21-30': 19,
  '31-40': 39,
  '41-50': 93,
  '51-60': 163,
  '61-70': 189,
  '71-80': 132,
  '81-90': 47,
  '91+': 3,
  'TOTAL': 688,
  '_id': ObjectId('5ef79415c56e02b6f3800b73')},
 {'Grupo': 'HOMBRE - RENAL CRONICA - DIFUNTOS',
  '0-15': 1,
  '16-20': 1,
  '21-30': 29,
  '31-40': 63,
  '41-50': 153,
  '51-60': 261,
  '61-70': 293,
  '71-80': 201,
  '81-90': 63,
  '91+': 6,
  'TOTAL': 1071,
  '_id': ObjectId('5ef79415c56e02b6f3800b74')},
 {'Grupo': 'TODOS - TABAQUISMO - CASOS',
  '0-15': 27,
  '16-20': 241,
  '21-30': 3609,
  '31-40': 5088,
  '41-50': 4228,
  '51-60': 3096,
  '61-70': 2056,
  '71-80': 1250,
  '81-90': 418,
  '91+': 57,
  'TOTAL': 20070,
  '_id': ObjectId('5ef79415c56e02b6f3800b75')},
 {'Grupo': 'MUJER - TABAQUISMO - CASOS',
  '0-15': 10,
  '16-20': 80,
  '21-30': 1154,
  '31-40': 1676,
  '41-50': 1273,
  '51-60': 858,
  '61-70': 452,
  '71-80': 256,
  '81-90': 77,
  '91+': 16,
  'TOTAL': 5852,
  '_id': ObjectId('5ef79415c56e02b6f3800b76')},
 {'Grupo': 'HOMBRE - TABAQUISMO - CASOS',
  '0-15': 17,
  '16-20': 161,
  '21-30': 2455,
  '31-40': 3412,
  '41-50': 2955,
  '51-60': 2238,
  '61-70': 1604,
  '71-80': 994,
  '81-90': 341,
  '91+': 41,
  'TOTAL': 14218,
  '_id': ObjectId('5ef79415c56e02b6f3800b77')},
 {'Grupo': 'TODOS - TABAQUISMO - INTUBADOS',
  '0-15': 0,
  '16-20': 1,
  '21-30': 21,
  '31-40': 46,
  '41-50': 96,
  '51-60': 134,
  '61-70': 133,
  '71-80': 81,
  '81-90': 18,
  '91+': 2,
  'TOTAL': 532,
  '_id': ObjectId('5ef79415c56e02b6f3800b78')},
 {'Grupo': 'MUJER - TABAQUISMO - INTUBADOS',
  '0-15': 0,
  '16-20': 0,
  '21-30': 5,
  '31-40': 3,
  '41-50': 15,
  '51-60': 17,
  '61-70': 23,
  '71-80': 5,
  '81-90': 3,
  '91+': 1,
  'TOTAL': 72,